.wtrp-fl {
  float: left;
}
.wtrp-fr {
  float: right;
}
.wtrp-flex {
  display: flex;
}
.wtrp-flex-1 {
  flex: 1;
}
.wtrp-break {
  word-break: break-all;
}
.week-time-range-picker {
  position: relative;
  display: inline-block;
}
.week-time-range-picker .wtrp-schedule {
  background: #598fe6;
  width: 0;
  height: 0;
  position: fixed;
  opacity: 0.6;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.week-time-range-picker .wtrp-table {
  background-color: transparent;
  border-collapse: collapse;
}
.week-time-range-picker .wtrp-byted-popover-wrapper {
  text-align: left;
  display: inline-block;
}
.week-time-range-picker .wtrp-byted-popover-wrapper .transition-popover-enter-active,
.week-time-range-picker .wtrp-byted-popover-wrapper .transition-popover-appear {
  opacity: 0;
  animation: popoverTransitionIn 0.5s;
}
.week-time-range-picker .wtrp-byted-popover-wrapper .transition-drop-leave-active {
  animation: popoverTransitionOut 0.5s;
}
@keyframes popoverTransitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popoverTransitionOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.week-time-range-picker .wtrp-byted-popover-wrapper .ant-tooltip {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  position: absolute;
  z-index: 1060;
  display: block;
  max-width: 250px;
  visibility: visible;
}
.week-time-range-picker .wtrp-byted-popover-wrapper .ant-tooltip-placement-top .ant-tooltip-arrow {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  width: 13.07106781px;
  height: 13.07106781px;
  overflow: hidden;
  background: transparent;
  pointer-events: none;
  bottom: -12.07106781px;
}
.week-time-range-picker .wtrp-byted-popover-wrapper .ant-tooltip-placement-top .ant-tooltip-arrow::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 5px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.75);
  content: '';
  pointer-events: auto;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  transform: translateY(-6.53553391px) rotate(45deg);
}
.week-time-range-picker .wtrp-byted-popover-wrapper .ant-tooltip-placement-top .ant-tooltip-inner {
  min-width: 30px;
  min-height: 32px;
  padding: 6px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.week-time-range-picker,
.week-time-range-picker :after,
.week-time-range-picker :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.week-time-range-picker .wtrp-table tr,
.week-time-range-picker .wtrp-table td,
.week-time-range-picker .wtrp-table th {
  border: 1px solid #DDDEE1;
  font-size: 12px;
  text-align: center;
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
  user-select: none;
  margin: 0;
  padding: 0;
  min-width: 16px;
  width: 16px;
  height: 20px;
  box-sizing: border-box;
}
.week-time-range-picker .wtrp-table tr .week-td,
.week-time-range-picker .wtrp-table td .week-td,
.week-time-range-picker .wtrp-table th .week-td {
  width: 60px;
}
.wtrp-tbody-tr > td + td {
  cursor: pointer;
}
.wtrp-freeze-td {
  background: #f5f5f5;
}
.wtrp-active-td {
  background-color: #0590FF;
}
.wtrp-selected-td {
  padding: 0 10px!important;
}
.wtrp-selected-td .tip-text {
  color: #999;
}
.wtrp-selected-td .wtrp-clearfix:before {
  content: " ";
  display: table;
}
.wtrp-selected-td .wtrp-clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.wtrp-selected-td .wtrp-selected-td__selected-time {
  text-align: left;
  line-height: 1;
}
.wtrp-selected-td .wtrp-selected-td__selected-time .wtrp-selected-text {
  padding-right: 5px;
}
.wtrp-selected-td a {
  cursor: pointer;
  color: #598fe6;
}
